<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>

<!--<div th:replace="~{navigation :: navi(Home)}" />-->

<div class="header new-rounded">
    <div th:replace="~{navigation :: navi(Home)}" />
</div>
<div class="new_card_product">
    <div class="card shadow new-rounded" style="width: 18rem; position: relative"  th:each="product, state : ${products}" th:if="${state.count<5}">
        <img th:src="@{img/new.png}" style="position: absolute; top: 5px; left: 5px; width: 100px">
        <img class="card-img-top" th:if="${product.images.size() > 0}" th:src="@{'/img/images/' + ${product.images[0].path}}">
        <div class="card-body">
            <h5 class="card-title" th:text="${product.title}"></h5>
            <div class="card-text" th:text="${product.shortDescription}"></div>
            <div class="card-price">
                <span>Price: <span th:text="${product.price}"></span> &#8381;</span>
                <a th:href="@{'/shop/cart/add/' + ${product.id}}" class="btn my-btn">Add cart</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>