<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head>
    <title>Register New User Form</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <style>
		.error {color:red}
    </style>
</head>


<body class="text-center">
<div th:replace="~{navigation :: navi(Login)}"></div>

<div class="div_center">

    <form th:action="@{/register/processRegistrationForm}" class="form-signin shadow p-3 bg-white new-rounded"
          th:object="${systemUser}" method="post">

        <div class="form-group">
            <div class="col-xs-15">
                <div th:if="${registrationError != null}">
                    <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                        ${registrationError}
                    </div>
                </div>
            </div>
        </div>
        <h1 class="h3 mb-3 font-weight-normal">Register New User</h1>
        <!-- User name -->
        <div class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" />


        <div class="mt-3">User name</div>
        <input th:field="*{userName}" placeholder="username (*)" class="form-control"/>

        <div class="form-row">
            <div class="col">
                <!-- Password -->
                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />

                <div class="mt-3">Password</div>
                <input type="password" th:field="*{password}" placeholder="password (*)" class="form-control"/>
            </div>
            <div class="col">
                <!-- Confirm Password -->
                <div class="error" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" />

                <div class="mt-3">Confirm password</div>
                <input type="password" th:field="*{matchingPassword}" placeholder="confirm password (*)" class="form-control"/>
            </div>
        </div>


        <!-- First name -->
        <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" />

        <div class="mt-3">First name</div>
        <input th:field="*{firstName}" placeholder="first name (*)" class="form-control"/>


        <!-- Last name -->
        <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />

        <div class="mt-3">Last name</div>
        <input th:field="*{lastName}" placeholder="last name (*)" class="form-control"/>

        <div class="form-row">
            <div class="col">
                <!-- Email -->
                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />

                <div class="mt-3">Email</div>
                <input th:field="*{email}" placeholder="email (*)" class="form-control"/>
            </div>
<!--            <div class="col">-->
<!--                &lt;!&ndash; Phone &ndash;&gt;-->
<!--                <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" />-->

<!--                <div class="mt-3">Phone</div>-->
<!--                <input th:field="*{phone}" placeholder="phone (*)" class="form-control"/>-->
<!--            </div>-->
        </div>


        <button type="submit" class="btn btn-lg my-btn btn-block mt-5 mb-3">Register</button>

    </form>
</div>
</body>
</html>