<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <script type="text/javascript" th:src="@{/js/script.js}"></script>


    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Shop)}"/>
<div class="product">
    <div class="mt-5" style="min-width: 300px">
        <div class=" shadow p-4 mr-5 mt-5 bg-white new-rounded" style="position: fixed">

            <h1 th:text="Фильтры"/>
            <form th:action="@{/shop}" method="get">
                <input hidden th:value="${page}" th:name="page">
                <input class="form-control mb-3" th:value="${word != null} ? ${word}" th:name="word" type="text"
                       placeholder="Название">
                <input class="form-control mb-3" th:value="${min != null} ? ${min}" th:name="min" type="number"
                       placeholder="Минимальная цена">
                <input class="form-control mb-3" th:value="${max != null} ? ${max}" th:name="max" type="number"
                       placeholder="Максимальная цена">
                <button name="filterButton" type="submit" class="btn my-btn btn-block">Фильтровать</button>
            </form>
        </div>
    </div>
        <div class="new_card_product mt-5">
            <div class="card card_row shadow new-rounded" th:each="product : ${products}">
                <div class="shop_product_photo">
                    <img th:if="${product.images.size() > 0}" th:src="@{'img/images/' + ${product.images[0].path}}" >
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.title}"></h5>
                    <div class="card-text" th:text="${product.shortDescription}"></div>
                    <div class="card-price">
                        <span><h3 class="m-0">Price: <span th:text="${product.price}"></span> &#8381;</h3></span>
                        <div style="display: flex;align-items: center;">
                            <span class="small pr-3" th:text="'в наличии ' + ${product.quantity}"></span>
                            <a th:name="'product_'+${product.id}" th:if="${product.quantity} !=0" th:href="@{'/shop/cart/add/' + ${product.id}}" class="btn my-btn" th:onclick="sendName()">Add cart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</div>
<nav aria-label="Page navigation example">
    <ul class="pagination shadow">
        <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
        <li th:each="i : ${#numbers.sequence(1, totalPage, 1)}">
            <a th:class="page-link" th:text="${i}" th:classappend="${page == i ? 'active' : ''}"
               th:href="@{'/shop/?page=' + ${i} + ${filters}}"></a>
        </li>
        <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
    </ul>
</nav>

</body>
</html>